<section class="banner about-banner">
  <div class="row no-gutters bg-dark-green">
    <div class="banner-text text-center">
      <h1>A little bit about<br>Good Neighbors Club</h1>
      <p>As two roommates quarantined together in SF, we created this to help support local businesses and foster community during these unprecendented times. We will do our best to update this on an ongoing basis, but please check with individual businesses for the latest information.</p>
    </div>
  </div>
</section>

<section class="banner sf-needs-us">
  <div class="row no-gutters align-items-center">
    <div class="col align-self-center">
      <%= image_tag("about_first.png", class: "about-img right") %>
    </div>
    <div class="col">
      <div class="cta-text">
        <h2>San Francisco needs us more than ever.</h2>
        <p>Many local businesses are experiencing extreme financial burdens since they have been forced to shut their doors. They’ve gotten creative with ways to continue serving our community while following required health mandates. And we wanted to help.</p>
      </div>
    </div>
  </div>
</section>

<section class="banner help-you-help">
  <div class="row no-gutters bg-light-peach">
    <div class="col">
      <div class="cta-text">
        <h2>Find ways to help, all in one place.</h2>
        <p>We’re constantly hearing of new ways to support our community and it can be hard to keep track of it all. So we compiled these into one central place, and we will update it as often as possible. Our hope is that we can all come together to help our city survive this and come out stronger.</p>
      </div>
    </div>
    <div class="col">
      <%= image_tag("about_second.png", class: "about-img left") %>
    </div>
  </div>
</section>
