<section class="banner about-banner">
  <div class="row no-gutters bg-dark-green">
    <div class="banner-text text-center">
      <h1>Welcome to the<br>Good Neighbors Club.</h1>
      <p>We aim to support local businesses and foster community in San Francisco during these unprecendented times. We’re rooting for the underdogs, always.</p>
    </div>
  </div>
</section>

<section class="banner sf-needs-us">
  <div class="row no-gutters">
    <div class="col-6 col-md-5">
      <%= image_tag("about_first.png", class: "about-img right") %>
    </div>
    <div class="col-6 col-md-7">
      <div class="banner-text">
        <h2>San Francisco needs our help.</h2>
        <p>The shelter-in-place ordinance has forced so many local businesses to shut their doors.</p>
      </div>
    </div>
  </div>
</section>

<section class="banner help-you-help">
  <div class="row no-gutters bg-light-peach">
    <div class="col-6 col-md-7">
      <div class="banner-text">
        <h2>We want to help you, help our city.</h2>
        <p>We love our city. And we want to do our part to help the hospitality industry thrive during these wild times. Our beloved restaurants, bars, and small businesses are having to close their doors, and they need our help.</p>
      </div>
    </div>
    <div class="col-6 col-md-5">
      <%= image_tag("about_second.png", class: "about-img left") %>
    </div>
  </div>
</section>
