<section class="thanks-page form-page">
  <div class="thanks-cta text-center">
    <h2 class="pb-2">Thanks for submitting!</h2>
    <p>Thank you for helping us keep the SF community alive. We’ve received your submission and it will be reviewed by our team. Keep an eye on our site for new ways to help!</p>
    <div class="text-center pt-4">
      <a href="/"><button class="submit-btn">Back to Home</button></a>
    </div>
  </div>
</section>
<div class="pt-5">
  <hr>
</div>
