 @import "bootstrap";
 @import "home";
 @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');
 body {
   font-family: 'Poppins', sans-serif;
   color: #1D4B40;
   font-style: normal;
 }

 p {
   font-size: 14px;
   margin: 0;
 }

 h2 {
   font-weight: 400;
 }

 .navbar {
   padding: 1rem 1.5rem;
 }

 .navbar-brand {
   font-weight: 500;
   font-size: 16px;
   color: #1D4B40;
   letter-spacing: 1px;
 }

 .bg-cream {
   background: #FFFFFA;
 }

 .hamburger {
   position: absolute;
   right: 25px;
   width: 52px;
 }

 .page-footer {
   letter-spacing: 0.5px;

   strong {
     font-size: 12px;
     font-weight: 500;
   }

   p {
     font-size: 11px;
     font-weight: 200;
   }
 }
