 @import "bootstrap";
 @import "home";
 @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
 body {
   font-family: 'Poppins', sans-serif;
   color: #1D4B40;
   font-style: normal;
 }

 .navbar {
   padding: 1rem 1.5rem;
 }

 .navbar-brand {
   font-weight: 500;
   font-size: 16px;
   color: #1D4B40;
   letter-spacing: 1px;
 }

 .bg-cream {
   background: #FFFFFA;
 }

 .hamburger {
   position: absolute;
   right: 25px;
   color: #1D4B40;

   &:hover {
     color: #1D4B40;
   }

   > svg {
     width: 30px;
     height: auto;
   }
 }
