 @import "bootstrap";
 @import "pages";
 @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');
 body {
   font-family: 'Poppins', sans-serif;
   color: #1D4B40;
   font-style: normal;
   background: #FFFFFA;
 }

 p {
   font-size: 14px;
   line-height: 24px;
   font-weight: 300;
   margin: 0;
 }

 h2 {
   font-weight: 400;
 }

 a {
   color: #1D4B40;

   &:hover {
     color: #1D4B40;
   }
 }

 hr {
   width: 80%;
   margin-bottom: 0;
   color: rgba(29, 75, 64, 0.1);
 }

 .navbar {
   padding: 1rem 1.5rem;
   border-bottom: 1px solid rgba(29, 75, 64, 0.1);
 }

 .navbar-brand {
   font-weight: 500;
   font-size: 16px;
   color: #1D4B40;
   letter-spacing: 1px;

   &:hover {
    color: #1D4B40;
   }
 }

 .bg-cream {
   background: #FFFFFA;
 }

 .hamburger {
   position: absolute;
   right: 25px;
   width: 52px;

   @media only screen and (max-width: 800px) {
     right: 5px;
   }
 }

 .page-footer {
   letter-spacing: 0.5px;

   strong {
     font-size: 12px;
     font-weight: 500;
   }

   p {
     font-size: 11px;
     font-weight: 200;
   }
 }

 .nav-overlay {
   width: 100%;
 }

 .modal {
   left: 50%;
   position: absolute;

   @media only screen and (max-width: 800px) {
     left: 0;
   }
 }

 .modal-backdrop.show {
   background: #1D4B40;
   opacity: 0.85;
 }

 .modal-fullscreen-menu {
   background-color: #FFFFFA;
   width: 50%;
   float: right;

   @media only screen and (max-width: 800px) {
     width: 100%;
   }

  .close {
    width: 20px;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    @media only screen and (max-width: 800px) {
      margin-top: 15px;
    }
  }

  .modal-dialog {
    max-width: 90%;
    pointer-events: auto;
  }

  .modal-body {
    padding-top: 25px;
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .list-group {
    text-align: left;
    margin: 0 auto;
    width: 100%;
    padding-left: 30px;

    a {
      font-weight: 200;
      letter-spacing: 0.05em;
      border: none;
      transition: all 0.25s ease;
      background-color: transparent;
      color: #1D4B40;
      padding: 7.5vh 0;
      height: 5vh;
      font-size: 4vh;
      line-height: 0;
    }
  }

  .tagline {
    margin-left: 45px;
    margin-top: 170px;

    h2 {
      letter-spacing: 1px;
      color: #F7D4B3;
      font-weight: 200;
      font-size: 4vh;
    }
  }
}

.mb-7 {
  margin-bottom: 4rem !important;
}

.modal-backdrop {
  &.in {
    opacity: 1;
  }
}
