// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.row {
  height: 100%;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.col {
  height: 80vh;
  min-height: 50%;

  @media only screen and (max-width: 800px) {
    height: 100vh;
  }
}

.banner {
  height: 80vh;
  position: relative;

  @media only screen and (max-width: 800px) {
    height: 100vh;
  }
}

.category-list {
  position: relative;
}

.bg-dark-green {
  background: #1D4B40;
}

.bg-light-peach {
  background: #FAE5D0;
}

.bg-dark-peach {
  background: #F7D4B3;
}

.banner-text {
  margin: 0;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 390px;

  .title {
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 1px;
    color: #F5CCA7;
    padding-bottom: 20px;
  }

  .blurb {
    font-weight: 200;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #F5CCA7;
  }

  @media only screen and (max-width: 800px) {
    .title {
      font-size: 38px;
      line-height: 45px;
    }

    .blurb {
      line-height: 26px;
    }
  }
}

.ways-to-help {
  padding-top: 80px;
  padding-right: 30px;
  padding-left: 30px;

  h3 {
    padding-bottom: 50px;
    letter-spacing: 1px;
    font-weight: 300;
  }
}

.general-resources {
  h1 {
   font-weight: 400;
   padding-bottom: 10px;
   letter-spacing: 0.5px;
  }

  p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 25px;
  }

  @media only screen and (max-width: 800px) {
    h1 {
      font-size: 38px;
      line-height: 45px;
    }

    p {
      font-size: 14px;
      line-height: 26px;
    }
  }
}

.category-card-title {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 1px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  min-height: 100%;
  object-fit: fill;
}

.arrow-right {
  padding-top: 15px;
  width: 50px;
}
